* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 40vw;
  flex-wrap: wrap;
}

.square {
  color: #1d1d1d;
  width: 4%;
  border: 2px solid transparent;
  position: relative;
}

.square:before {
  content: "";
  display: block;
  padding-top: 100%;

  transition: 2s ease;
  background: currentColor;
  box-shadow: 0 0 2px currentColor;
}

.square:hover:before {
  transition-duration: 0s;
  box-shadow: 0 0 2px currentColor, 0 0 10px currentColor;
}
